<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy & Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <style>
        .head {
            margin: 10px 0;
            font-size: 20px;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "Manrope";
        }

        nav {
            width: 100vw;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid rgba(207, 203, 203, 0.37);
        }

        .right {
            width: 50%;
        }

        .left {
            display: flex;
            align-items: center;
        }

        .navbar {
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }

        .right ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .right ul li {
            list-style: none;
            font-weight: bold;
            color: black;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .left a {
            color: black;
            font-weight: bold;
            margin-left: 10px;
        }

        .left a span {
            color: rgb(211, 42, 42);
        }

        .right ul li:last-child {
            border: 2px solid rgb(211, 42, 42);
            padding: 5px 15px;
            /* height: 30px;
    width: 80px; */
            border-radius: 5px;
            /* text-align: center;
    line-height: 30px; */
        }

        .right ul li:last-child a {
            color: rgb(211, 42, 42);
        }

        .tabs:hover {
            border-bottom: 3px solid rgb(211, 42, 42);
        }


        .sidebar {
            font-size: 22px;
            display: none;
        }

        /* Container */

        .container {
            margin-top: 20px;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
            color: white;
            margin-bottom: 50px;
        }

        .innerContainer {
            width: 90%;
            height: 300px;
            background-image: linear-gradient(rgb(204, 13, 55), rgb(199, 42, 76), rgb(128, 31, 39));
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 20px;
        }

        .input {
            width: 100%;
            margin-top: 20px;
            color: black;
            margin-bottom: 50px;
        }

        .first {
            margin-top: 40px;
            width: 250px;
            font-size: 13px;
            font-weight: bold;
            height: fit-content;
            background-color: white;
            border-radius: 30px;
            color: black;
        }

        .first ul {
            display: flex;
            justify-content: space-evenly;
            padding: 5px 5px;
        }

        .buttons {
            width: 60%;
            height: 100px;
            display: flex;
            justify-content: space-between;
        }

        .button {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            transition: 0.2s all;
        }

        .button:hover {
            background-color: white;
            border-radius: 10px 10px 0 0;
            color: rgb(128, 31, 39);
        }

        .active {
            background-color: white;
            border-radius: 10px 10px 0 0;
            color: rgb(128, 31, 39);
        }


        .icons {
            font-size: 30px;
        }

        .input input {
            width: 70%;
            padding: 10px 10px;
            border-radius: 10px;
            border: 1px solid rgb(92, 89, 89);
        }

        .input button {
            width: 20%;
            padding: 10px 10px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(207, 48, 48);
            color: white;
            margin-left: 20px;
        }

        .input button:hover {
            background-color: rgb(180, 31, 31);
        }

        .fa-download {
            font-size: 18px;
            margin-right: 8px;
        }

        .input h5 {
            margin-top: 10px;
        }

        .input span {
            font-weight: bold;
        }

        .steps {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }

        .step {
            text-align: center;
        }

        .dotted-line {
            white-space: nowrap;
            position: relative;
            overflow: hidden;
        }

        .dotted-line::after {
            display: inline;
            content: "---------------";
            letter-spacing: 0.5px;
            /* Adjust letter spacing as needed */
            font-size: 20px;
            line-height: 60px;
            color: #ff5e62;
        }

        .step p {
            font-size: 12px;
        }

        .step span {
            display: block;
            background: #ffc6c7;
            color: #ff5e62;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50%;
            border-color: #ff5e62;
            border-style: solid;
            width: 60px;
            height: 60px;
            margin: 0 auto 10px;
            line-height: 60px;
        }

        /* Section */

        section {
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            text-align: justify;
        }

        .section {
            width: 70%;
            display: none;
        }

        .stories {
            display: block;
        }

        .section h3 {
            margin: 20px 0;
        }

        .section h4 {
            margin: 10px 0;
        }

        /* Footer */

        footer {
            width: 100vw;
            display: flex;
            margin-top: 20px;
            justify-content: center;
            border-top: 2px solid rgba(207, 203, 203, 0.37);
        }

        .footer-right {
            width: 40%;
        }


        .footer {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .footer-right ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footer-right ul li {
            list-style: none;
            font-weight: bold;
        }

        .footer-right ul li a {
            color: rgb(66, 66, 66);
            font-size: 15px;
        }

        .footer-right ul li a:hover {
            border-bottom: 2px solid rgb(66, 66, 66);
        }
        .privacy{
            display: block;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="left">
                    <img src="/img/logo.png" alt="" height="30px" width="30px"><a href="/">INSTA VIDEO
                        <span>SAVER</span></a>
                </div>
                <div class="right">
                    <ul>
                        <li class="tabs"><a href="">Tools</a></li>
                        <li class="tabs"><a href="">Tutorial</a></li>
                        <li class="tabs"><a href="">Blogs</a></li>
                        <li class="tabs"><a href="">Contact Us</a></li>
                        <li><a href="">Sign In</a></li>
                    </ul>
                </div>
                <div class="sidebar">
                    <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="section privacy">
            <h3>Privacy Policy for Insta Video Saver</h3>
            <p>At InstaVideoSaver, accessible from https://InstaVideoSaver, one of our main priorities is the privacy of
                our visitors. This Privacy Policy document contains types of information that is collected and recorded
                by InstaVideoSaver and how we use it.<br><br>
                If you have additional questions or require more information about our Privacy Policy, do not hesitate
                to contact us.<br><br>
                This Privacy Policy applies only to our online activities and is valid for visitors to our website with
                regards to the information that they shared and/or collect in InstaVideoSaver. This policy is not
                applicable to any information collected offline or via channels other than this website.</p><br>
            <p class="head">Consent</p>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p><br>
            <p class="head">Information we collect</p>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it,
                will be made clear to you at the point we ask you to provide your personal information. <br><br>
                If you contact us directly, we may receive additional information about you such as your name, email
                address, phone number, the contents of the message and/or attachments you may send us, and any other
                information you may choose to provide.<br><br>
                When you register for an Account, we may ask for your contact information, including items such as name,
                company name, address, email address, and telephone number.</p><br>
            <p class="head">How we use your information</p>
            <p>We use the information we collect in various ways, including to: <br><br>
                Provide, operate, and maintain our website<br>
                Improve, personalize, and expand our website<br>
                Understand and analyze how you use our website<br>
                Develop new products, services, features, and functionality<br>
                Communicate with you, either directly or through one of our partners, including for customer service, to
                provide you with updates and other information relating to the website, and for marketing and
                promotional purposes<br>
                Send you emails<br>
                Find and prevent fraud<br><br>
            <p class="head">Log Files</p>
            <p>InstaVideoSaver follows a standard procedure of using log files. These files log visitors when they visit
                websites. All hosting companies do this and a part of hosting services analytics. The information
                collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider
                (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not
                linked to any information that is personally identifiable. The purpose of the information is for
                analyzing trends, administering the site, tracking users movement on the website, and gathering
                demographic information.</p><br>
            <p class="head">Cookies and Web Beacons</p>
            <p>Like any other website, InstaVideoSaver uses cookies. These cookies are used to store information
                including visitors preferences, and the pages on the website that the visitor accessed or visited. The
                information is used to optimize the users experience by customizing our web page content based on
                visitors browser type and/or other information.</p><br>
            <p class="head">Google DoubleClick DART Cookie</p>
            <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve
                ads to our site visitors based upon their visit to www.website.com and other sites on the internet.
                However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content
                network Privacy Policy at the following URL – <a
                    href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
            </p><br>
            <p class="head">Our Advertising Partner</p>
            <p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed
                below. Each of our advertising partners has their own Privacy Policy for their policies on user data.
                For easier access, we hyperlinked to their Privacy Policies below.<br><br>
                Google<br> <a
                    href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
            </p><br>
            <p class="head">Advertising Partners Privacy Policies</p>
            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Insta Video
                Saver<br><br>
                Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that
                are used in their respective advertisements and links that appear on InstaVideoSaver, which are sent
                directly to users browser. They automatically receive your IP address when this occurs. These
                technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize
                the advertising content that you see on websites that you visit.<br><br>
                Note that InstaVideoSaver has no access to or control over these cookies that are used by third-party
                advertisers.</p><br>
            <p class="head">Third Party Privacy Policies</p>
            <p>Insta Video Saver's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising
                you to consult the respective Privacy Policies of these third-party ad servers for more detailed
                information. It may include their practices and instructions about how to opt-out of certain
                options..<br><br>
                You can choose to disable cookies through your individual browser options. To know more detailed
                information about cookie management with specific web browsers, it can be found at the browsers
                respective websites.
            </p><br>
            <p class="head">CCPA Privacy Rights (Do Not Sell My Personal Information)</p>
            <p>Under the CCPA, among other rights, California consumers have the right to: <br><br>
                Request that a business that collects a consumer's personal data disclose the categories and specific
                pieces of personal data that a business has collected about consumers.<br><br>
                Request that a business delete any personal data about the consumer that a business has
                collected.<br><br>
                Request that a business that sells a consumer's personal data, not sell the consumer's personal
                data.<br><br>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please contact us.
            </p><br>
            <p class="head">GDPR Data Protection Rights</p>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is
                entitled to the following:<br><br>
                The right to access – You have the right to request copies of your personal data. We may charge you a
                small fee for this service.<br><br>
                The right to rectification – You have the right to request that we correct any information you believe
                is inaccurate. You also have the right to request that we complete the information you believe is
                incomplete.<br><br>
                The right to erasure – You have the right to request that we erase your personal data, under certain
                conditions.<br><br>
                The right to restrict processing – You have the right to request that we restrict the processing of your
                personal data, under certain conditions.<br><br>
                The right to object to processing – You have the right to object to our processing of your personal
                data, under certain conditions.<br><br>
                The right to data portability – You have the right to request that we transfer the data that we have
                collected to another organization, or directly to you, under certain conditions.<br><br>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please contact us.
            </p><br>
            <p class="head">Childern's Information</p>
            <p>Another part of our priority is adding protection for children while using the internet. We encourage
                parents and guardians to observe, participate in, and/or monitor and guide their online
                activity.<br><br>
                InstaVideoSaver does not knowingly collect any Personal Identifiable Information from children under the
                age of 13. If you think that your child provided this kind of information on our website, we strongly
                encourage you to contact us immediately and we will do our best efforts to promptly remove such
                information from our records.</p><br>
            <p class="head">Changes to This Privacy Policy</p>
            <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically
                for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These
                changes are effective immediately, after they are posted on this page..</p><br>
            <p class="head">Contact Us</p>
            <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p><br>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="left">
                <img src="/img/logo.png" alt="" height="30px" width="30px"><a href="/">INSTA VIDEO
                    <span>SAVER</span></a>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="/privacyPolicy">Privacy Policy</a></li>
                    <li><a href="/Condition">Terms & Conditions</a></li>
                    <li><a href="/Contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/8b00f4755d.js" crossorigin="anonymous"></script>
</body>

</html>